name: UI build, test, publish

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/client/hoard-ui**'
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push hoard-ui
        uses: docker/build-push-action@v5
        with:
          context: src/client/hoard-ui
          push: true
          tags: |
            ghcr.io/ianfnelson/hoard-ui:latest
